<div class="c-placeholder">
    <p class="c-placeholder__title">{{ title }}</p>

    <div class="c-placeholder__icon" #placeholderIcon>
        <ng-content select="[placeholder-icon]"></ng-content>
    </div>

    @if (!placeholderIcon.innerHTML.trim()) {
        <nz-empty nzNotFoundImage="simple"></nz-empty>
    }

    @if (isButtonShown) {
        <button
            class="c-placeholder__action c-placeholder-button"
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="round"
            (click)="onPlaceholderButtonClick()"
        >
        <span class="c-placeholder-button__icon" #buttonIcon>
            <ng-content select="[button-icon]"></ng-content>
        </span>
            @if (!buttonIcon.innerHTML.trim()) {
                <span class="c-placeholder-button__icon" nz-icon nzType="plus" nzTheme="outline"></span>
            }

            <span class="c-placeholder-button__title">{{ buttonTitle }}</span>
        </button>
    }
</div>
